In [29]:
import pandas as pd

def read_data_file():
    df = pd.read_csv("data-sets/olympics.csv", header=1)  # use the second row (row 1) as the headers
    df = df.rename(columns={
        "Unnamed: 0": "country",
        "? Summer": "summer_olympics",
        "01 !": "summer_golds",
        "02 !": "summer_silvers",
        "03 !": "summer_bronzes",
        "? Winter": "winter_olympics",
        "01 !.1": "winter_golds",
        "02 !.1": "winter_silvers",
        "03 !.1": "winter_bronzes",
        "Total.1": "total_games",
        "01 !.2": "total_golds",
        "02 !.2": "total_silvers",
        "03 !.2": "total_bronzes",
        "Combined total": "combined_total"
    })
    return df

olympics = read_data_file()

In [30]:
olympics.head()

,country,summer_olympics,summer_golds,summer_silvers,summer_bronzes,Total,winter_olympics,winter_golds,winter_silvers,winter_bronzes,total_games,? Games,total_golds,total_silvers,total_bronzes,combined_total
0,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
1,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
2,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
3,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
4,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [34]:
olympics.loc[:,"country"].head()

0          Afghanistan (AFG)
1              Algeria (ALG)
2            Argentina (ARG)
3              Armenia (ARM)
4    Australasia (ANZ) [ANZ]
Name: country, dtype: object